MONGODB_URL="mongodb://127.0.0.1:27017/remodoc"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-nextauth-secret"

# Social Login Providers
GOOGLE_CLIENT_ID=1072104848682-qrbetucf2697qs7ib4t9b4jijp1958jn.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
FACEBOOK_CLIENT_ID=1299193755229893
FACEBOOK_CLIENT_SECRET=fb4f21947d2d2da3947316f0ae2ae339
TWITTER_CLIENT_ID="your-twitter-client-id"
TWITTER_CLIENT_SECRET="your-twitter-client-secret"

GEMINI_API_KEY="your-gemini-api-key"
GOOGLE_MAPS_API_KEY="your-google-maps-api-key"

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=remodocai@gmail.com
SMTP_PASS=ydyv rhxr wlet hdsr
EMAIL_FROM=remodocai@gmail.com

TWILIO_ACCOUNT_SID="your-twilio-account-sid"
TWILIO_AUTH_TOKEN="your-twilio-auth-token"
TWILIO_PHONE_NUMBER="+15555550100"

