DATABASE_URL=mongodb+srv://jeshurunwaruri_db_user:7hjJKP5JOJetXE5Q@messi.lv9fh0m.mongodb.net/remodoc?retryWrites=true&w=majority&appName=messi

NEXTAUTH_URL=https://remodoc-ai-pryp.vercel.app
NEXTAUTH_SECRET=089f350ddfe6deaab56d03c22613ba74d263b1d4b6c6bda850066464fcbcf274

GEMINI_API_KEY=AIzaSyAqioxIv2xswh6FbiMj8JfTLfb6SXOy-ao
GOOGLE_MAPS_API_KEY=AIzaSyBi70BkeOmvwLdlZTYZx6JeP5l78Phi5Io
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyBi70BkeOmvwLdlZTYZx6JeP5l78Phi5Io
ADMIN_REGISTRATION_CODE=MyAdminSetupKey_2025

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=remodocai@gmail.com
EMAIL_PASS=ydyv rhxr wlet hdsr
EMAIL_FROM=remodocai@gmail.com

TWILIO_ACCOUNT_SID=AC8135189173b720050a377d024034101f
TWILIO_AUTH_TOKEN=a747e6828ba19d6c7b66cf77eee86d86
TWILIO_PHONE_NUMBER=+18777804236

